  /* Общие настройки */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  box-sizing: border-box;
  /* text-shadow: 6px 1px 5px #969696; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* img {
  max-width: 100%;
} */

.container-m {
  max-width: 99%;
  padding: 5px;
  margin: 0 auto;
  background-color: #F0F0F0;
}

  /* Главная страница */

.header-top {
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items: center;
  border-top: 15px solid green;
  border-bottom: 15px solid orange;  
}

.logo-agro {
  width: 320px;
  height: 60px;
  cursor: pointer;
  /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
}

.addres {
  font-size: 26px;
}

.phone {
  padding: 9px 0px 5px 42px;
    background-image: url(/img/phone-ico.svg);
    background-repeat: no-repeat;
    background-size: 66px 40px;
    background-position: -13px 9px;
    cursor: pointer;
    font-size: 34px;
}

.email {
  font-size: 26px;
}

.hero-container {
  background-image: url(../img-2/hero-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 500px;
  margin-bottom: 50px;
  padding: 120px 0px 0px 900px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container-text {
  display: flex;
  flex-direction: row;
  height: 460px;
  width: 890px;
}

.hero-text {
  font-size: 45px;
  font-style: italic;
  font-weight: 600;
  color: #2A4903;
}

.hero-text-2 {
  font-size: 32px;
  font-style: italic;
  color: #0f0f0f;
  background-color: #529934;
  border-left: 20px solid #ED7600;
}

.button-call {
  padding: 10px 10px 10px 10px;    
  display: block;
  max-width: 160px;
  border: 1px solid orange;
  border-radius: 10px;
  color: white;
  background-color: #FF9900;
  cursor: pointer;
  text-align: center;
}

.hero-a {
  background-image: url(../img-2/A.svg);
  background-repeat: no-repeat;
  width: 850px;
  height: 500px;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  padding-left: 483px;  
}

.cards-wrap-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrap {
  max-width: 1038px;
  border-top: 2px solid black;
  padding-top: 20px;
}

.cards-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1080px;  
}

.cards-item:not(:nth-child(2n)) {
  margin-bottom: 23px;
}

.img-wrap {
  /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  padding: 70px 210px 80px 30px; 
}

.img-wrap-seeds {
  /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  padding: 70px 210px 80px 30px; 
}

.img-1 {
  background-image:  url(../img-2/seeds.png);
  width: 540px;
  height: 320px;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 10px;
}

.img-2 {
  background-image:  url(../img-2/deff.png);
  width: 540px;
  height: 320px;
  background-repeat: no-repeat;
  z-index: 100;
  background-position: top left;
  border-radius: 10px;
}

.img-3 {
  background-image:  url(../img-2/micro.png);
  width: 540px;
  height: 320px;
  background-repeat: no-repeat;
  z-index: 100;
  overflow-x: visible;
  border-radius: 10px;
}

.img-4 {
  background-image:  url(../img-2/service.png);
  width: 540px;
  height: 320px;
  background-repeat: no-repeat;
  z-index: 100;
  overflow-x: visible;
  border-radius: 10px;
}

.header-item {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;    
}

.footer-container {
  background: linear-gradient(0deg, #000000d6, #242427ac);
  height: 100px;
  width: 100%;
  padding-top: 25px; 
  font-size: 30px;
  }

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;    
}

.nav-list--item {
  padding-right: 40px;
  color: yellowgreen;
}

.nav-list--link {
  color: white;
}

  /* СТРАНИЦА СЕМЕНА */

.text-seeds-tab {
  font-size: 25px;
}

.cards-wrap-seeds-tab {
  max-width: 1038px;
  border-top: 2px solid black;
  padding-top: 20px;
}

.cards-seeds-tab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1080px;  
}

.img-wrap-seeds-tab {
  /* box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); */
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  padding: 48px 210px 80px 10px;
  width: 510px;
  height: 240px;
  background-position: 290px 0px;
  background-repeat: no-repeat;
  background-size: 240px 240px;
  z-index: 100;
  border-radius: 10px;
  outline: 2px solid black;
}

.cards-item-seeds-tab {
  margin-right: 23px;
}

.cards-item-seeds-tab:not(:nth-child(2n)) {
  margin-bottom: 23px;
}

.seeds-img-1 {
  background-image:  url(../img-2/corn-mini-png.png);
}

.seeds-img-2 {
  background-image:  url(../img-2/podsolnuh-png.png);
}

.seeds-img-3 {
  background-image:  url(../img-2/lucern-png.png);
}

.seeds-img-4 {
  background-image:  url(../img-2/raps-png.png);
}

.seeds-img-5 {
  background-image:  url(../img-2/sorgo-png.png);
}

.seeds-img-6 {
  background-image:  url(../img-2/soya-png.png);
}

.header-item-seeds-tab {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;    
  margin: 0;
}

.img-seeds-1 {
  background-image:  url(../img-2/corn.png);
  width: 570px;
  height: 805px;
  background-repeat: no-repeat;
  z-index: 100;  
}
  
.img-seeds-podsolnuh {
  background-image:  url(../img-2/podsolnuh-t.png);
  width: 570px;
  height: 805px;
  background-repeat: no-repeat;
  z-index: 100;  
}

.img-seeds-soya {
  background-image:  url(../img-2/soya-t.png);
  width: 570px;
  height: 805px;
  background-repeat: no-repeat;
  z-index: 100; 
}

.img-seeds-raps {
  background-image:  url(../img-2/goroh-t.png);
  width: 570px;
  height: 805px;
  background-repeat: no-repeat;
  z-index: 100; 
}

.header-cards-seeds {  
  border-bottom: 2px solid black;
  width: 100%;
}

.header-cards-link-seeds {
  font-size: 64px;
  color: #2A4903;
  font-weight: 600;
}

.h-seeds {
  margin: 0;  
}

.cards-wrap-seeds {
  padding-top: 70px;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.cards-left-seeds {
  margin: 0;
  padding: 195px 0 0 0;
    width: 180px;
   height: 215px;
 }

 .img-seeds-2 {
  background-image:  url(../img-2/pkg.png);
  background-size: 159px 185px;
  background-repeat: no-repeat;
  z-index: 100; 
}

.cards-right-seeds {
  width: 70%;
  height: 350px;
}

.img-seeds-right-text {
  margin-top: 0;
  font-size: 17px;
}

.cards-wrap-seeds-bottom {
  padding-top: 70px;
  width: 1280px;
}

.name {
  font-size: 30px;
  font-weight: 500;
  color: #5E6A6D;
}

.gybrid {
  padding-right: 20px;
}

.specs {
  padding-right: 20px;
}

.sids-silos {
  padding-right: 20px;
}

.fao {
  padding-right: 20px;
}

.seeds-type {
  font-size: 30px;
  font-weight: 600;
  color: #529934;
}

.cards-services-seeds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cards-item-seeds {
  margin: 15px 0;
}

.seeds-cards {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}


.inner-seeds-1 {
  background-size: 220px 180px;
  background-repeat: no-repeat;
  width: 220px;
  margin-right: 10px;
}

.anovi {
  background-image: url(../img-2/corn/anovi.png);
}

.delfin {
  background-image: url(../img-2/corn/delfin.png);
}

.sirriys {
  background-image: url(../img-2/corn/sirriys.png);
}

.evrostar {
  background-image: url(../img-2/corn/evrostar.png);
}

.midgard {
  background-image: url(../img-2/corn/midgard.png);
}

.apilog {
  background-image: url(../img-2/corn/apilog.png);
}

.bombastik {
  background-image: url(../img-2/corn/bombastik.png);
}

.habbl {
  background-image: url(../img-2/corn/habbl.png);
}

.grigri {
  background-image: url(../img-2/corn/grigri.png);
}

.kreativ {
  background-image: url(../img-2/corn/kreativ.png);
}

.konstelans {
  background-image: url(../img-2/corn/konstelans.png);
}

.parolli {
  background-image: url(../img-2/corn/parolli.png);
}

.bond {
  background-image: url(../img-2/corn/bond.png);
}

.asteroid {
  background-image: url(../img-2/corn/asteroid.png);
}

.glorifi {
  background-image: url(../img-2/corn/glorifi.png);
}

.faradey {
  background-image: url(../img-2/corn/faradey.png);
}

.miledi {
  background-image: url(../img-2/corn/miledi.png);
}

.metod {
  background-image: url(../img-2/corn/metod.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.dolchevita {
  background-image: url(../img-2/sunflower/dolchevita.png);
}

.inner-seeds-2 {
  width: 450px;
  justify-content: center;
  align-items: center;
}

.inner-seeds-3 {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.inner-seeds-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inner-seeds-5 {
  text-align: center;
  display: block;
  padding: 80px 30px;
}

.seeds-h {
  font-size: 30px;
  font-weight: 600;
  color: #5E6A6D;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.stars {
  width: 25px;
}

.seedscard-text {
  font-size: 20px;
  color: #5E6A6D;
}

.seeds-list-left {
  list-style: inside;
}

.fit {  
  object-fit: cover;	
}

.header-cards {  
  border-bottom: 2px solid black;
  width: 1040px;
}

.seeds-svg-corn {
  width: 52px;
  height: 72px;
  margin-right: 0;
}
.seeds-svg-cow {
  width: 52px;
  height: 72px;
  margin-right: 0;
}

.seeds-svg-fao {
font-size: 30px;
font-weight: 500;
color: #5E6A6D;
}

.seeds-svg-none {
  visibility: hidden;
}

.right-block-seeds {
  width: 800px;
  min-height: 300px;
  max-height: 800px;
}

.fitem {
  color: white;
}



/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">


<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
</style>
*/

  /* АДАПТИВ */
/* 
@media(max-width: 3940px)
{
.breadcrumb-list {
    display: flex;
    align-items: center;
    padding-left: 1425px;
  }
}

@media(max-width: 1920px)
{
.breadcrumb-list {
    display: flex;
    align-items: center;
    padding-left: 428px;
  }
} */

.slider-wrap {
  width: 98vw;
  
  object-fit: cover;
  overflow: hidden;
}

.swiper-container {
  margin-left: 0px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
  list-style: none;
  width: 98vw;
  padding: 0;
  z-index: 1;
  object-fit: cover;

}

.headers-service {
  width: 955px;
  margin: 0 auto;
  min-height: 230px;
  max-height: 1000px;
}

.text-header {
  font-size: 40px;
  color: #A0BC2A;
  font-weight: 500;
}

.text2-service {
  font-size: 30px;
  font-weight: 300;
}

.list-wrap-service {
  width: 955px;
  margin: 0 auto;
  min-height: 230px;
  max-height: 1000px;
}

.service-list {
  list-style: inside; 
}

.list-heder-service {
  font-size: 40px;
  color: #529934;
}

.service-list-item {
  font-size: 20px;
}