
* {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.container-m {
  max-width: 99%;
  padding: 5px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid green;
  border-bottom: 5px solid orange;
}

.logo-agro {
  width: 220px;
  height: 60px;
}

.phone {
  padding: 9px 0px 5px 32px;
  background-image: url(/img/phone-ico.svg);
  background-repeat: no-repeat;
  background-size: 51px 25px;
  background-position: -13px 6px;
}

.button-call {
    padding: 10px 10px 10px 10px;
    
    display: block;
    max-width: 160px;
    border: 1px solid orange;
    border-radius: 10px;
    color: orange;
    background-color: white;
    cursor: pointer;
    text-align: center;

}


.hero-container {
  background-image: url(../img-2/hero-man.jpg);
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 500px;
  margin-bottom: 150px;
  padding: 270px 265px 75px 900px;
}

.header-cards {
  margin: 0 auto;
  border-bottom: 2px solid black;
  min-width: 1050px;
}

.cards-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1120px;
  
}

.cards-wrap-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-wrap {
  max-width: 1080px;
}

.img-wrap {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  max-width: 540px;
  max-height: 340px;
  padding: 70px 140px 95px 30px;
 
}




.img-1 {
  background-image:  url(../img-2/seeds.png);
  width: 540px;
  height: 340px;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 10px;
}

.img-2 {
  background-image:  url(../img-2/deff.png);
  width: 540px;
  height: 340px;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 10px;
}

.img-3 {
  background-image:  url(../img-2/micro.png);
  width: 540px;
  height: 340px;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 10px;
}

.img-4 {
  background-image:  url(../img-2/service.png);
  width: 540px;
  height: 340px;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 10px;
}

.footer {
  background-color: black;
}


.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.nav-list--item {
  padding-right: 40px;
  color: yellowgreen;
}

.nav-list--link {
  color: white;
}

.fitem {
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 1900px;
  color: white;
}

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">


<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
</style>
*/