.header-top {
  display: flex;
  align-items: center;
  border-top: 5px solid green;
  border-bottom: 5px solid orange;
}

.phone {
  padding: 9px 0px 5px 32px;
  background-image: url(/img/phone-ico.svg);
  background-repeat: no-repeat;
  background-size: 51px 25px;
  background-position: -13px 6px;
}

.footer {
  background-color: black;
}

.nav-list--link {
  color: white;
}